:root {
  --clr-neutral: white;
  --clr-dark: #212529;
  --clr-bg-neutal: rgb(221, 220, 220);
  --clr-light-blue: rgb(57, 57, 230);
  --clr-ashy-blue: rgb(118, 118, 221);
  --img-bg: url(https://images.unsplash.com/photo-1604187349790-ecd899cf38eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8M2QlMjBnbGFzc2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  --shadow: 1px 2px 3px 1px rgb(118, 118, 221);
  --light-shadow: 1px 2px 3px 1px rgb(221, 220, 220);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.nav-insider {
  margin-top: auto;
  background: var(--clr-dark);
  color: var(--clr-neutral);
  padding: 50px 20px;
  text-align: center;
}
.after-nav {
  margin-bottom: 20px;
}
.second-part {
  margin-top: 50px;
}
.part-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.second-part h2 {
  font-weight: 800;
}
.review {
  margin-top: 50px;
  background: var(--clr-bg-neutal);
  text-align: center;
  padding: 50px;
}
.review img {
  border-radius: 100%;
}
.review-name {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 10px;
  align-items: center;
}
.review-name h6 {
  margin-bottom: 0px;
}
.blog-post {
  margin-top: 50px;
  text-align: center;
}
.blog-post h2 {
  font-weight: 800;
}
.blog-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card {
  box-shadow: var(--light-shadow);
  cursor: pointer;
  margin-top: 20px;
}
.blog-header {
  margin-bottom: 20px;
}
.card-body {
  justify-content: left;
  text-align: left;
}
.card-body img {
  border-radius: 100%;
}
.blog-profile {
  display: flex;
  gap: 10px;
  place-items: center;
}
.form {
  background: var(--clr-light-blue);
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 70px auto;
  max-width: 370px;
  color: var(--clr-bg-neutal);
  padding: 30px;
}

footer {
  background: var(--clr-dark);
  color: var(--clr-neutral);
  text-align: center;
}
.footer-links ul li {
  text-decoration: underline;
}
.footer-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .after-nav {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  .part-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .f-p1 {
    grid-column: 1/2;
  }
  .f-p2 {
    grid-column: 2/3;
  }
  .second-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .part-1 {
    grid-column: span 1;
  }
  .part-2 {
    grid-column: span 2;
  }
  .reviews {
    max-width: 600px;
    margin-inline: auto;
    padding: 50px;
  }
  .blog-header {
    max-width: 700px;
    margin-inline: auto;
  }

  .blog-cards {
    display: flex;
    flex-direction: row;
  }
  .form {
    max-width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .blog-cards {
    display: flex;
    flex-direction: row;
  }
  .form {
    max-width: 700px;
  }
  .header-img {
    background-image: url(https://images.unsplash.com/photo-1604187349790-ecd899cf38eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8M2QlMjBnbGFzc2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);

    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;

    width: 500px;
  }
  .nav-insider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    text-align: left;
  }
  .after-nav {
    justify-content: left;
    text-align: left;
    align-items: left;
  }
  .header-btn {
    justify-content: left;
    text-align: left;
    align-items: left;
  }
}
